<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <header class="jumbotron my-4">
        <h1 class="display-3">Welcome to Blocipedia</h1>
        <p class="lead">An application for users to read and contribute to Wikis</p>
        <a href="/users/signup" class="btn btn-primary btn-lg">Sign up</a>
      </header>

      <section class="row text-center">
        <section class="col-lg-4">
          <h4 class="card-title">Contribute</h4>
          <p class="card-text">Share information to make the world a better place.</p>
        </section>
        <section class="col-lg-4">
          <h4 class="card-title">Collaborate</h4>
          <p class="card-text">Work jointly on a project!</p>
        </section>

        <section class="col-lg-4">
          <h4 class="card-title">Create</h4>
          <p class="card-text">Share the wikis that are important to you!</p>
        </section>
      </section>
    </main>
    <% include partials/baseScripts.ejs %>
  </body>
</html>
